/* LAYOUT */

/* width */

.w-80 {
  width: 80% !important;
}

.ms_w_30 {
  width: 30% !important;
}

.ms_w_90 {
  width: 90% !important;
}

.cover-image {
  height: 150px;
  object-fit: cover;
}

.searchbar-fix {
  margin-bottom: 4.5em;
}

.z-foreground {
  z-index: 998;
}
