@use 'vars' as *;
@use 'colors' as *;

/* NAVBAR */

.ms-nav-link{
    font-size: .9rem!important;
    position: relative;
    color: $main_darker2_color;
    height: 100%;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.ms-nav-link:after{
    content: '';
    position: absolute;
    left: -16px;
    bottom: 0;
    opacity: 0;
    width: calc(100% + 32px);
    height: 2px;
    transition: width $transition_fast, opacity $transition_fast;
    background-color: $main_darker2_color;

}

.ms-nav-link:before{
    content: '';
    position: absolute;
    left: -16px;
    bottom: 0;
    width: calc(100% + 32px);
    height: 0%;
    transition: height $transition_fast, opacity $transition_fast;
    background-image: linear-gradient(transparent, white);
    filter: blur();
}

.ms-nav-link:hover:before{
    height: 50%;
}

.ms-nav-link:hover:after{
    opacity: 1;
}



.nav-link.user-dropdown{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 25px;
    font-size: .8rem;
}

.nav-link.user-dropdown:hover .user-icon i{
    transition: opacity $transition_fast, transform $transition_fast;
}

.nav-link.user-dropdown:hover{
    -webkit-box-shadow: 0px 3px 5px 0px $main_darker2_color; 
    box-shadow: 0px 3px 5px 0px $main_darker2_color;
    transition: box-shadow $transition_fast, opacity $transition_fast;
}

.nav-link.user-dropdown:hover .user-icon.animated i{
    transform: translateX(-30px);
}
.nav-link.user-dropdown:hover .user-icon.animated::after{
    transform: translateX(-30px);
}

.user-dropdown .user-icon{
    overflow: hidden;
    position: relative;
    right: -10px;
    display: inline-block;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    text-align: center;
    color: white;
}

.user-dropdown .user-icon.animated::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 0;
    right: -30px;
    transition: transform $transition_fast;
    font-size: .8rem;
    color: $main_darker2_color;
}

.menu-item{
    display: inline-block;
    color: $black_text_color!important;
    text-decoration: none;
    font-size: .9rem;
}

.menu-item:hover{
    color: $main_darker2_color!important;
}

a.offcanvas-btn{
    font-weight: 2rem;
    color: $black_text_color;
}

a.offcanvas-btn i{
    font-weight: 2rem!important;
}

